doctype html
html(lang='es')
	head
		title Control Corte CI ElGlobo
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
		link(href='/public/css/app.css' rel='stylesheet')
	body
		nav(class='large-padding black white-text')
			
			ul
				li Created by: Carlos Villa®
				
				li
					form(action='/buscar' method='POST')
						input(type='text' name='buscar' placeholder='Buscar OP' 
				id='buscar' class='form-control')
				li
					a(href='/') Estado de Corte
				li
					a(href="/m3") M3
				li
					a(href="/m4") M4
				li
					a(href="/m7") M7
				li
					a(href="/m10") M10
				li
					a(href="/m11") M11
				li
					a(href="/m13") M13
				li
					a(href="/est") EST
		block contenido
